<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flatiron banking account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h3>Welcome <%=Helpers.current_user(session).username%></h3>

    <a href="/logout">Log Out</a>
  </body>
</html>
